<h1>New article</h1>

<% if @new_article %>
  <% if @new_article.errors.any? %>
    <h3>The following errors prevented the article from being saved:</h3>
    <ul>
      <% @new_article.errors.full_messages.each do |msg| %>
       <li><%= msg %></li> 
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= form_for :article, url: articles_path, data: { turbo: false } do |f| %>

  <p><%= f.label :username %>
  <%= f.text_field :username %></p>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :text %>
  <%= f.text_area :text %></p>

  <p><%= f.submit %></p>
<% end %>

